.home-container {
  min-height: 100vh;
  background-color: #f5f7fa;
}

.intro {
  padding: 24px;
}

.home-title {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #1e293b;
  margin: 0px;
}

.home-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 312px;
}

.find-books-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 203px;
}

.top_rated_books_container {
  background-color: #ffffff;
  box-shadow: 0px 0.4433962404727936px 0.8867924809455872px 0px #60617029;
  box-shadow: 0px 0px 0.4433962404727936px 0px #28293d14;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_rated_heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1e293b;
  align-self: flex-start;
  margin-left: 32px;
}

.slick-container {
  width: 85%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.home-error-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.failure-heading-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;
  margin-top: 20px;
  margin-bottom: 10px;
}

.try-again-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 767px) {
  .home-container {
    padding: 48px 100px;
  }
  .intro {
    padding: 0px;
  }
  .home-title {
    font-size: 40px;
    line-height: 64px;
    font-weight: 600;
  }
  .home-text {
    font-size: 20px;
    line-height: 32px;
    width: 80%;
  }
  .find-books-btn {
    display: none;
  }
  .top_rated_books_container {
    margin-top: 22px;
    height: 424px;
    padding: 24px 36px;
  }
  .top_rated_heading {
    font-size: 24px;
    line-height: 32px;
  }
  .slick-container {
    width: 100%;
  }
}
