.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 32px;
  background-color: #ffffff;
  margin: auto;
}

@media screen and (min-width: 767px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    background-color: #f5f7fa;
  }
}

.login-mobile-image {
  margin-top: 8px;
}

@media screen and (min-width: 767px) {
  .login-mobile-image {
    display: none;
  }
}

.login-desktop-image {
  width: 50%;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .login-desktop-image {
    display: none;
  }
}

.logo {
  width: 104px;
  height: 28px;
  margin-top: 16px;
}

.authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .form-container {
    justify-content: center;
    width: 499px;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 64px 48px 64px 48px;
  }
  .authentication-container {
    width: 50%;
    padding: 64px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  color: #5a7184;
}

.username-input-field {
  font-size: 16px;
  height: 56px;
  border: 1px solid #d7dfe9;
  color: #183b56;
  border-radius: 2px;
  margin-top: 5px;
  padding: 18px 20px;
  outline: none;
}

.password-input-field {
  font-size: 16px;
  height: 56px;
  border: 1px solid #d7dfe9;
  color: #183b56;
  border-radius: 2px;
  margin-top: 5px;
  padding: 18px 20px;
  outline: none;
}

.login-button {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0284c7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'HK Grotesk';
  line-height: 18.24px;
  font-weight: 400;
  color: #ef4444;
}

@media screen and (min-width: 767px) {
  .logo {
    width: 141px;
    height: 48px;
  }
}
