.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  padding-top: 64px;
}

.icons-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.list-item {
  margin-left: 8px;
  margin-right: 8px;
}

.contact-us-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #3d3c3c;
  margin-top: 5px;
  margin-bottom: 24px;
}
